<!DOCTYPE html>
<html lang="{{ g.locale.language }}" dir="{{ g.locale.text_direction }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if g.locale.text_direction == 'rtl' %}
  <link rel="stylesheet" href="{{ url_for('pwa.static', filename='vendor/bootstrap/css/bootstrap.rtl.min.css') }}">
  {% else %}
  <link rel="stylesheet" href="{{ url_for('pwa.static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  {% endif %}
  <link rel="stylesheet" href="{{ url_for('pwa.static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('pwa.static', filename='public/build/bundle.css') }}">
  <link rel="manifest" href="{{ url_for('pwa.static', filename='manifest.json') }}">
  <title>{{ page_title }}</title>
</head>
<body class="h-100">
  <div id="app">
  <script src="{{ url_for('pwa.static', filename='public/build/bundle.js') }}"></script>
</body>
</html>